<?xml version="1.0" encoding="UTF-8"?>
<application>
    <variables>
        <variable name="client.application.etablissement.id">1</variable>
        <variable name="client.application.groupe.id">1</variable>
        <variable name="serveur.clientaccess.protocol">http</variable>
        <variable name="serveur.clientaccess.ip">localhost</variable>
        <variable name="serveur.clientaccess.isRootApplication">false</variable>
        <variable name="serveur.clientaccess.applicationName">appcaisse</variable>
        <variable name="serveur.clientaccess.servicesAccess">service/facade</variable>
        <variable name="serveur.clientaccess.serviceGetAllCategories">getAllCategories</variable>
        <variable name="serveur.clientaccess.serviceGetEntreprise">getEntreprise</variable>
        <variable name="serveur.clientaccess.serviceGetAllMenus">getAllMenus</variable>
        <variable name="serveur.clientaccess.serviceGetAllIngredients">getAllIngredients</variable>
        <variable name="serveur.clientaccess.serviceGetAllProduits">getAllProduits</variable>
        <variable name="serveur.clientaccess.serviceGetAllSousCategories">getAllSousCategories</variable>
        <variable name="serveur.clientaccess.serviceGetAllTables">getAllTables</variable>
        <variable name="serveur.clientaccess.serviceGetAllComptes">getAllComptes</variable>
        <variable name="serveur.clientaccess.serviceGetAllParamForms">getAllParamForms</variable>
        <variable name="serveur.clientaccess.serviceGetAllAttributsComptes">getAllAttributsComptes</variable>
        <variable name="serveur.clientaccess.serviceGetAttributsComptesByEmail">getAttributsComptesByEmail</variable>
        <variable name="serveur.clientaccess.serviceGetAllParamApps">parametreApplication/getAllParamApps</variable>
        <variable name="serveur.clientaccess.serviceGetAllMajTables">getAllMajTables</variable>
        <variable name="serveur.clientaccess.serviceGetSousCategoriesById">getSousCategorieById</variable>
        <variable name="serveur.clientaccess.serviceGetIngredientById">getIngredientById</variable>
        <variable name="serveur.clientaccess.serviceGetMenuById">getMenuById</variable>
        <variable name="serveur.clientaccess.serviceGetProduitById">getProduitById</variable>
        <variable name="serveur.clientaccess.serviceGetProduitByLevel">getProduitByLevel</variable>
        <variable name="serveur.clientaccess.serviceGetAllModesDeReglement">getAllModeDeReglement</variable>
        <variable name="serveur.clientaccess.serviceGetModesDeReglementById">getModeDeReglementById</variable>
        <variable name="serveur.clientaccess.serviceGetProduitByCategorieId">getProduitByCategorieId</variable>
        <variable name="serveur.clientaccess.serviceGetCompteById">getCompteById</variable>
        <variable name="serveur.clientaccess.serviceGetParamFormById">getParamFormById</variable>
        <variable name="serveur.clientaccess.serviceGetAttributCompteById">getAttributCompteById</variable>
        <variable name="serveur.clientaccess.serviceGetAttributCompteByIdCompte">getAttributCompteByIdCompte</variable>
        <variable name="serveur.clientaccess.serviceGetMajTablesByNom">getMajTablesByNom</variable>
        <variable name="serveur.clientaccess.serviceAddAttributCompte">addAttributCompte</variable>
        <variable name="serveur.clientaccess.serviceAddCompte">addCompte</variable>
        <variable name="serveur.clientaccess.serviceGetAllProduitFavoriteByIdServeur">getAllProduitFavoriteByIdServeur</variable>
        <variable name="serveur.clientaccess.serviceGetAllProduitsSuggerer">getAllProduitsSuggerer</variable>
        <variable name="serveur.clientaccess.serviceGetAllZoneTables">zoneTables/getAll</variable>
        <variable name="serveur.clientaccess.serviceGetAllTypeCommande">typeCommande/getAll</variable>
        <variable name="serveur.clientaccess.serviceGetAllProdtest">getProdtest</variable>
        <variable name="serveur.clientaccess.serviceGetProdtestById">getAllProdtest</variable>
        <variable name="serveur.clientaccess.serviceGetParamAppByNom">getParamAppByNom</variable>
        <variable name="serveur.clientaccess.serviceGethaveMAJ">haveMAJ</variable>
        <variable name="serveur.clientaccess.serviceDeleteProduit">deleteProduit</variable>
        <variable name="serveur.clientaccess.serviceGetDateReservationWhereDateNull">reservation/getDateReservationWhereDateNull</variable>
        <variable name="serveur.clientaccess.serviceGetAllOptions">option/getAll</variable>
        <variable name="serveur.clientaccess.serviceAddAllOptions">option/addAll</variable>
        <variable name="serveur.clientaccess.serviceAddAllIngredient">ingredient/addAll</variable>
        <variable name="serveur.clientaccess.serviceAddProduit">produit/add</variable>
        <variable name="serveur.clientaccess.serviceUpdateProduit">produit/update</variable>
        <variable name="serveur.clientaccess.serviceGetAllTauxTva">tauxTva/getAll</variable>
        <variable name="serveur.clientaccess.serviceGetGroupeById">groupe/getById</variable>
        <variable name="serveur.clientaccess.serviceGetAllEtablissementsWithZones">etablissement/getAllWithZones</variable>
        <variable name="serveur.clientaccess.serviceZoneTablesGetByEtablissementNull">zoneTables/getByEtablissementNull</variable>
        <variable name="serveur.clientaccess.serviceSufixe">.php</variable>
        <variable name="tableNameOptions">options</variable>
        <variable name="serveur.clientaccess.serviceGetAllEtablissements">etablissement/getAll</variable>
        <variable name="serveur.clientaccess.serviceGetByIdEtablissements">etablissement/getById</variable>
        <variable name="serveur.clientaccess.serviceAddEtablissements">etablissement/add</variable>
        <variable name="serveur.clientaccess.serviceRemoveEtablissements">etablissement/remove</variable>
        <variable name="serveur.clientaccess.serviceUpdateEtablissements">etablissement/update</variable>
        <variable name="serveur.clientaccess.serviceZoneTablesGetByIdEtablissment">zoneTables/getByIdEtablissement</variable>
        <variable name="serveur.clientaccess.serviceGetAllStyles">style/getAll</variable>
        <variable name="serveur.clientaccess.serviceAddString">strings/add</variable>
        <variable name="serveur.clientaccess.serviceGetAllLangues">langues/getAll</variable>
        <variable name="serveur.clientaccess.serviceSetLangEnable">langues/setLangActif</variable>
        <variable name="serveur.clientaccess.servicesetLangDiable">langues/setLangDisable</variable>    
        <variable name="serveur.clientaccess.serviceremoveZoneTable">zoneTables/remove</variable>  
        <variable name="serveur.clientaccess.serviceAddZoneTable">zoneTables/add</variable> 
        <variable name="serveur.clientaccess.serviceRemoveTable">zoneTables/removeTable</variable> 
        <variable name="serveur.clientaccess.serviceGetZoneTableById">zoneTables/getById</variable> 
        <variable name="serveur.clientaccess.serviceUpdateZone">zoneTables/update</variable>
        <variable name="serveur.clientaccess.serviceAddCategorie">categorie/add</variable>
        <variable name="serveur.clientaccess.serviceLangGetByActif">langues/getByActif</variable>
        <variable name="tableNameMajTables">majTables</variable>
        <variable name="tableNameEntreprise">entreprises</variable>
        <variable name="tableNameCategorie">categories</variable>
        <variable name="tableNameIngredient">ingredients</variable>
        <variable name="tableNameSousCategorie">sousCategories</variable>
        <variable name="tableNameProduit">produits</variable>
        <variable name="tableNameEtablissements">etablissements</variable>
        <variable name="tableNameMenu">menus</variable>
        <variable name="tableNameModeDeReglement">modesDeReglement</variable>
        <variable name="tableNameTable">tables</variable>
        <variable name="tableNameCompte">comptes</variable>
        <variable name="tableNameParamForm">paramforms</variable>
        <variable name="tableNameAttributCompte">attributscomptes</variable>
        <variable name="indexedDBDatabaseName">appcaisse</variable>
        <variable name="tableNameParametreApplication">parametresapplications</variable>
        <variable name="serveur.clientaccess.serviceGetEntrepriseMaj">getEntepriseMaj</variable>
        <variable name="tableNameEntrepriseMaj">entrepriseMaj</variable>
        <variable name="tableNameEntrepriseMaj.index.entreprise">entreprise</variable>
        <variable name="serveur.clientaccess.serviceSetNewTicket">setNewTicket</variable>
        <variable name="connexion.rs.facebook.appId">1496340477251539</variable>
        <variable name="tableNamePendingData">pendingdatas</variable>
        <variable name="tablePendingDataTypeTicket">TICKET</variable>
        <variable name="tablePendingDataTypeProduitPriorite">PRODUIT_PRIORITY</variable>
        <variable name="tablePendingDataTypeAttrCompte">ATTR_COMPTE_PRIORITY</variable>
        <variable name="tablePendingDataTypeCompte">COMPTE_PRIORITY</variable>
        <variable name="serveur.clientaccess.setPersonnePriority">setPersonnePriority</variable>
        <variable name="parametre.app.gestion.utilisateurs">gestionDesUtilisateurs</variable>
        <variable name="tableNameTypeCommande">typeCommandes</variable>
        <variable name="tableNameParamApplication">parametresApplication</variable>
        <variable name="tableNameZoneTables">zonesTables</variable>
        <variable name="indexedDB.database.version">1</variable>
    </variables>
</application>
